<li class='list-group-item'>
  <div class='media'>
    <div class='pull-left'>
      <div class='thumbnail'>
        <img src='<%= "/assets/wedding-party-#{name.downcase}.jpg" %>' alt='<%= name %> <%= role %>'/>
      </div>
    </div>
    <div class='media-content'>
      <h3><%= name %>  <small> <%= role %></small></h3>
      <p>
        <%= description %>
      </p>
    </div>
  </div>
</li>