<div class='jumbotron' style='background: url(/assets/jumbotron.jpg) no-repeat; background-position: center;'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
           <p style="font-family: 'Pacifico', cursive; font-size: 5em;">Jill & Ryan are getting married!</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-8'>
        </div>
        <div class='col-lg-6'>
           <p style="font-family: 'Pacifico', cursive; font-size: 5em;">October 31, 2015</p>
        </div>
      </div>
      <div class='row'>
	    <div class='col-lg-12'>
	            <br /><br /><br /><br /><br /><br /><br /><br /><br />
	    </div>
	  </div>
	  <div class='row'>
	    <div class='col-lg-8'>
	    </div>
	    <div class='col-lg-4'>
	       <p>We want you to <%= link_to "Sign the guestbook", guestbooks_path, :class => 'btn btn-default' %></p>
	    </div>
	  </div>
	</div>
</div>  

<div class='container'>
  <div class='page-header'>
    <h1 style="font-family: 'Pacifico', cursive;">Wedding News</h1>
  </div>

<%= render partial: 'newsitem', 
            locals: {   
              :title => 'Invitations have gone out', 
              :date => 'Aug 24, 2015', 
              :news => "We have just sent out our invitiations.  Please watch your mail for the invite and either go to <a href='/enter_code'>this page to submit your RSVP</a>, or mail back the RSVP card."
            }
%>

<%= render partial: 'newsitem', 
            locals: {   
              :title => 'Location', 
              :date => 'May 5, 2015', 
              :news => "We have picked a location for the wedding!  It will be at <a href='http://www.beckerfarms.com/#!vizcarravineyards/cee5'>Becker Farms/Vizcarra Vineyards</a> on October 31, 2015.  Save the dates will be heading out soon!  --R"
            }
%>

<%= render partial: 'newsitem', 
            locals: {   
              :title => 'Wedding Party', 
              :date => 'Jan 3, 2015', 
              :news => "Our entire wedding party has been notified who they are, and their descriptions are now up on the wedding party page! --R"
            }
%>

<%= render partial: 'newsitem', 
            locals: { 
              :title => 'Guest List', 
              :date => 'Nov 6, 2014', 
              :news => "We have nailed down most of the wedding party and are finalizing the guest list now!  Things are moving along nicely :) --R"
            }
%>

<%= render partial: 'newsitem', 
            locals: { 
              :title => 'Getting the site up', 
              :date => 'Nov 3, 2014', 
              :news => "I am developing the site from scratch so hopefully you guys (and especially Jill, am I right? ;) ) think it is cool.  We don't have a date set so any references to any dates right now are just temporary"
            }
%>

  </div>