<div class='container'>
  <div class='row'>
    <div class='col-lg-12' style="font-family: 'Pacifico', cursive; font-size: 3em;">RSVP to the wedding!</div>
  </div>
<br />

<% if flash[:notice] %>
<p class='error'>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
</p>

<% end %>

<%= form_for(@rsvp) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <li></li>
      
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :confirmation_code %><br>
    <%= f.text_field :confirmation_code, :class => 'form-control' %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Start RSVP" %>
  </div>
<% end %>


</div>