
<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">RSVPs</h1>
  </div>
</div>

<div class='container'>
  <p>If you are invited, you can enter the code here to RSVP to the wedding instead of mailing back the form.  This will unlock after the invites go out.</p>
</div>


<!--<h1>Listing rsvps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Confirmation code</th>
      <th>Can attend</th>
      <th>Num attending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.name %></td>
        <td><%= rsvp.confirmation_code %></td>
        <td><%= rsvp.can_attend %></td>
        <td><%= rsvp.num_attending %></td>
        <td><%= link_to 'Show', rsvp %></td>
        <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
        <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rsvp', new_rsvp_path %>-->
