<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guestbook.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @guestbook.message %>
</p>

<%= link_to 'Edit', edit_guestbook_path(@guestbook) %> |
<%= link_to 'Back', guestbooks_path %>
